
/*---
Responsive embed
@group			Utility/Responsive
@desc			Allow browsers to determine video or slideshow dimensions based on the width of their containing block by creating an intrinsic ratio that will properly scale on any device.
@modifier		responsive--wide	: Widescreen (16:9)
@tags			utility,video,responsive
@author			Michael Ord
---
<div class="responsive {modifier}">
	<iframe width="420" height="315" src="https://www.youtube.com/embed/M012-4ahQYY" allowfullscreen></iframe>
</div>
*/
.responsive
{
	$parent						: &;

	position					: relative;
	height						: 0;
	overflow					: hidden;
	margin						: 0 0 1rem 0;

	> iframe,
	> object,
	> embed,
	> video
	{
		position				: absolute;
		top						: 0;
		left					: 0;
		width					: 100%;
		height					: 100%;
	}

	//
	padding-bottom				: 75%;

	&--wide
	{
		padding-bottom			: 56.25%;
	}
}
